{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elite Eats</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Elite Eats
            <p>search</p>
            <p>menu</p>
        </h1>
    </header>

    <footer>
        <h3>
            <p>Home</p>
            <p>Trending</p>
            <p>directory</p>
            <p>new post</p>
        </h3>
    </footer>
    (& blocked messages &)
    (& endblock &)
    
    
</body>
</html>