{% extends 'base.html' %}

{% block content %}
    <h3>Restaurant Reviews</h3>

    <form method="post" action="{%url 'review' %}">
        {% csrf_token %}

            <br>{{ form }}
        <p><input type="submit" name="create" value="Submit" class="btn btn-secondary" "/></p>
    </form>
    
# added table striped styling to reviews
<br/>
<table class="table table-striped table-hover table-bordered">
        {% for review in all_reviews %}
            <tr>
                <td>
                    <strong>{{ review.restaurant.name }}</strong>
                    <p> {{ review.review }} </p>
                </td>
                <td align="right">
                    <a href="{% url 'update-review' review.id %}" class="btn btn-outline-secondary">Update</a> <br> 
                    <a href="{% url 'delete-review' review.id %}" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>    
        {% endfor %}
</table>

{% endblock %}