h3 {
    color: #008037;
}

.navbar-text{
    color: #FF914D;
}

.dropdown-menu li{
    position: relative;
  }

  .dropdown-menu submenu{
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }

  .dropdown-menu>li:hover>.submenu{
    display: block;
  }